# file named .gitignore

# application/config/database.php
# application/config/config.php
application/logs/
application/cache/
application/modules/recaptcha/config/recaptcha.php
sublime/
system/cache/
# Vim leave-behinds
*.swp

# Windows files
*.bak